@model IEnumerable<CNPM_DOAN.Models.TODO>

@{
    ViewBag.Title = "showToDo";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/MyCss/todo.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<body>
    <link rel="stylesheet" href="~/MyCss/todo.css">
    <script src="~/MyJs/todo.js"></script>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("giaoToDo","TODOes")">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>


        <div class="modal fade" id="editModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="infoTodo">
            @foreach (var item in Model)
            {
                <div class="infoTodoItem">
                    <div style="display: flex;">
                        <p class="details-link" data-id="@item.IDToDo">@item.NDToDo</p>
                    </div>

                    @if (item.TrangThai == "Qúa hạn")
                    {
                        <p style="font-size: 12px; width: fit-content; color:red">Qúa hạn</p>
                    }
                    else
                    {<p style="font-size: 12px; width: fit-content;">Còn hạn</p>}
                </div>

            }

        </div>
    </div>
</body>
