@model IEnumerable<CNPM_DOAN.Models.MUCTIEU>

@{
    ViewBag.Title = "showMucTieu_PH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    @if (TempData["message"] != null)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
        toastr.success('@TempData["message"]')
        </script>
    }
    <link rel="stylesheet" href="~/MyCss/muctieu.css">
    <script src="~/MyJs/todo.js"></script>
    <div class="container">
        <div class="infoTodo">
            @foreach (var item in Model)
            {
                <div class="infoTodoItem">
                    <div style="display: flex;">
                        <p class="details-link" id="open-dialog" data-id="@item.IDMucTieu">@item.TenMucTieu</p>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
